<div class="container-fluid">
    <div style="padding:30px;" class="container">
        <button class="mb-3" nz-button nzType="dashed">
            <i nz-icon [nzType]="'plus'"></i>
            Add Todo</button>
        <nz-card class="mb-3" style="width:100%;" [nzBordered]="true" nzTitle="My First Todo">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>

            <div class="float-right">
                <button class="mb-3 mr-2" nz-button nzType="dashed">
                    <i nz-icon [nzType]="'edit'"></i>
                    Edit Todo</button>
                <button class="mb-3" nz-button nzType="dashed" nzDanger>
                    <i nz-icon [nzType]="'delete'"></i>
                    Delete Todo</button>

            </div>
        </nz-card>
    </div>
    <!-- <div style="padding:30px;" class="container">
        <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Card title">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </nz-card>
    </div> -->
</div>