<div class="container-fluid">
    <div style="padding:30px;" class="container">
        <button class="mb-3" nzSize="large" nz-button nzType="dashed">
            <i nz-icon [nzType]="'plus'"></i>
            Add Todo</button>
        <div class="row">
            <div class="col-md-4" *ngFor="let todo of getAllTodos">
                <nz-card class="mb-3" [nzBordered]="true" nzTitle="{{todo.Name}}">
                    <p>Email: {{todo.Email}} </p>
                    <p>Phone: {{todo.Phone}} </p>

                    <div class="float-right">
                        <button class="mb-3 mr-2" nz-button nzType="dashed">
                            <i nz-icon [nzType]="'edit'"></i>
                            Edit Todo</button>
                        <button class="mb-3" nz-button nzType="dashed" nzDanger>
                            <i nz-icon [nzType]="'delete'"></i>
                            Delete Todo</button>

                    </div>
                </nz-card>
            </div>
        </div>
    </div>
    <!-- <div style="padding:30px;" class="container">
        <nz-card style="width:100%;" [nzBordered]="false" nzTitle="Card title">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
        </nz-card>
    </div> -->
</div>